#header {
    color: whitesmoke;
    font-family: sans-serif;
    padding: 10px;
}

#banner {
    background-color: #333333; /* Green background */
    color: white;  /* White text color */
    padding: 10px 0;  /* Padding at the top and bottom */
    text-align: center;  /* Center the text */
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 10px; /* Add this line for rounded corners */
    margin: 10px;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #FAF3E0; 
}


#addBtn {
    padding: 8px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#addBtn:hover {
    background-color: #0056b3;
}

.banner button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #a8e6cf;
    cursor: pointer;
    transition: background-color 0.3s;
}

.banner button:hover {
    background-color: #7bc3a8;
}
