#header {
    color: black;
    font-family: sans-serif;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    background-color: #333333; 
    color: white;  /* White text color */
    padding: 10px 0;  /* Padding at the top and bottom */
    text-align: center;  /* Center the text */
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 10px; /* Add this line for rounded corners */
    margin: 10px;
    display: flex;
    justify-content: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #faf3e0; 
}

.container button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffb6c1;
    cursor: pointer;
    transition: background-color 0.3s;
}

.container button:hover {
    background-color: #dc143c;
}

.contactUsContainer {
    display: flex;
}

.contactUsLeft {
    flex: 1;
    border-style: groove;
    margin-right: 10px;
    margin-left: 20px;
}

.contactUsRight {
    flex: 1;
    border-style: groove;
    margin-left: 10px;
    margin-right: 20px;
}

.contactUsInfo {
    text-align: center;
}

#submitFeedback {
    margin-left: 5px;
    margin-bottom: 5px;
}
