body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url('images/flatten.jpg'); /* Add your background image here */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#site-title {
    font-family: 'Arial', sans-serif; /* Choose the font that suits your style */
    font-size: 3rem; /* Adjust the size as needed */
    color: white; /* Adjust the color as needed */
    margin-bottom: 20px; /* Adds some space between the site title and the navbar */
    text-align: center; /* Centers the text */
}

#navbar{
    width: 100%;
}

.content-box {
    background-color: white;
    border-radius: 15px; /* Rounded corners for the box */
    padding: 20px; /* Padding inside the box */
    margin: 20px auto; /* Center the box with auto margins on the sides */
    max-width: 800px; /* Maximum width of the box */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional shadow for depth */
    text-align: center; /* Center text within the box */
}
.background-wrapper {
    background-image: url('images/flatten.jpg'); /* Your background image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px; /* This padding will create space around your content box */
}


#header {
    color: whitesmoke;
    padding: 10px;
}

#banner {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the items horizontally */
    justify-content: center, space-between; /* Centers the items vertically */
    padding: 10px 0; /* Adds padding to the top and bottom */
    position: relative;
    background-color: #333333;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 10px;
    margin: 10px;
}

/* Add this CSS for the footer layout and icon styling */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-radius: 20px;
    margin-top: 20px
}

.footer-left,
.footer-middle,
.footer-right {
    display: inline-block;
    width: 30%;
    padding: 10px;
}


.social-media-link {
    text-decoration: none; 
    display: inline-block;
    margin-top: 10px; 
}

.social-media-link img {
    width: 24px; 
    height: auto; 
}


.social-media-link:hover img {
    opacity: 0.8;
}

#terms-media-link{
    color: #ddd;
}


.navbtn {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    color: #f8f9fa;
    background-color: #6c757d; /* Neutral color for buttons */
    margin: 0 10px; /* Spacing between buttons */
    padding: 10px 20px;
    border: none;
    border-radius: 5px; /* Rounded edges for the buttons */
    text-transform: uppercase; /* Capital letters for a more professional look */
    letter-spacing: 1px; /* More spacing between letters */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.navbtn:hover {
    background-color: #ddd;
}

.contactUsContainer {
    display: flex;
}

.contactUsLeft {
    flex: 1;
    margin-right: 10px;
    margin-left: 20px;
    background-color: whitesmoke;
    color: #333333;
    border-radius: 10px;
    text-align: center;
}

.contactUsRight {
    flex: 1;
    margin-right: 20px;
    margin-left: 10px;
    background-color: whitesmoke;
    color: #333333;
    border-radius: 10px;
}

.contactUsRight h1{
    text-align: center;
}


label {
    position: relative;
    top: 0;
    left: 0;
    padding: 5px; /* Add padding for spacing between label and input */
    pointer-events: none; /* Allows clicking through the label to the input */
    transition: all 0.2s ease-in-out; /* Optional: Add a smooth transition for label movement */
}


input[type="text"],
input[type="email"],
textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    display: block;
    margin-left: 5px;
}

input:focus + label,
input:not(:placeholder-shown) + label {
    top: -20px; 
    font-size: 12px; 
    color: #007BFF; 
}

textarea {
    resize: vertical; /* Allows vertical resizing of the textarea */
}

button[type="submit"] {
    background-color: lightslategrey;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: whitesmoke;
}

#submitFeedback {
    margin-left: 5px;
    margin-bottom: 5px;
}


#submitFeedback {
    margin-left: 5px;
    margin-bottom: 5px;
}

.contactUsInfo {
    text-align: center;
}

#locations {
    width: 330px;
    height: 400px;
    top: 40%;
    right: 50%;
    left: 50%;
}

/* Add these styles for the slideshow */
.slideshow-container {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 20px; /* Add margin to separate content from slideshow */
    align-content: center;
    margin-left: 25px;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    height: auto;

}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
    .navbtn {
        padding: 10px 0; /* Adjust padding for smaller screens */
    }

    .content-box {
        width: 90%;
        margin: 20px auto;
        padding: 10px;
    }

    #banner {
        flex-direction: column; /* Stack the banner items on smaller screens */
    }
}
